body{
    padding: 0;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#root{
    background-color: beige;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

input{
    font-size: 20px;
    padding: 4px;
    margin: 10px;
}

button{
    font-size: 25px;
    margin: 20px;
    border-radius: 5px;
}

#result{
    font-size: 30px;
}

