body{
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: teal;
    color: white;
    height: 40px;
    width: 50px;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

#orange{
    background-color: orange;
}

#green{
    background-color: green;
}

#purple{
    background-color: purple;
}

